/*          Archivo de estilos para los Alerts          */
.alertContainer{
  background-color: #dcf5d4;
  border: 1px solid #26a3cc;
  border-radius: 5px;
  left: 10%;
  position: absolute;
  top: 10em;
  width: 80%;
  z-index: 100;
}

.alertBtn{
  display: block;
  margin: 1em auto;
  text-align: center;
  width: 60%;
}

.alertParrafo{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 1em;
}

.cerrarBtn{
  background-color: #26a3cc;
  border-color: rgba(255, 68, 0, 1);
  height: 20px;
  margin: 1.5% 0 0 92.5%;
  padding: 0;
  position: absolute;
  width: 20px;
}

.cerrarBtn::before,
.cerrarBtn::after{
  background-color: rgb(245, 235, 231);
  border-radius: 3px;
  content: '';
  display: block;
  height: 3px;
  transition: all ease-in-out 500ms;
  width: .75em;
}

.cerrarBtn::before{
  transform: rotate(45deg) translate(7px,4px);
  
}

.cerrarBtn::after{
  transform: rotate(-45deg) translate(-2px,5px);
}

.cerrarBtn:hover{
  background-color: rgba(255, 68, 0, 1);
}

.opcionesImg{
  height: 20px;
  margin-top: 4px;
  margin-right: 5px;
  width: 20px;
}

@media screen and (min-width: 650px){
  .alertBtn{
    width: 30%;
  }
}
@media screen and (min-width: 1200px){
  .cerrarBtn{
    margin: .5% 0 0 97.5%;
  }
}