/*          Pantallas hasta a 500px          */
*{
  box-sizing: border-box;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
body{
    background-color: #d2b48c;
}
/*          Textos Generales          */
h1,
h2{
  font-size: 26px;
  font-weight: 800;
  text-align: center;
  width: 100%;
}
h2{
  font-size: 24px;
}
span{
  display: block;
  width: 70%;
}
a{
  color: #d2b48c;
  text-decoration: none;
}
/*          Textos Generales          */
/*          Header y Footer          */
header,
footer{
  background-color: #26a3cc;
  color: #ecdfec;
  display: flex;
  justify-content: center;
  width: 100%;
}
header{
  height: 50px;
  line-height: 50px;
}
footer{
  height: 70px;
  line-height: 30px;
  position: absolute;
  bottom: 0;
}
footer span{
  text-align: center;
}
footer a:hover{
  border: 1px solid #d2b48c;
  border-radius: 5px;
  padding: 5px;
  font-weight: 600;
}
/*          Header y Footer          */
/*          Main          */
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}
section{
  padding: 0 5%;
  height: 64vh;
  width: 100vw;
}
section:first-of-type{
  display: flex;
  height: 70px;
  justify-content: space-evenly;
  padding: 5% 0;
}
input[type='text'],
.btn{
  display: inline-block;
  border: 1px solid #26a3cc;
  border-radius: 5px;
  height: 30px;
  width: 70vw;
}
.btn{
  width: 25vw;
  line-height: 24px;
  text-align: center;
}
.btn:hover{
 background-color: #26a3cc;
 color: #ecdfec;
 cursor: pointer;
 font-weight: 800;
}
article{
  height: 55vh;
  overflow: scroll;
}
ul{
  margin-top: 5%;
}
li{
  line-height: 30px;
  list-style: none;
  position: relative;
}
li span{
  display: inline-block;
  margin-left: 24px;
}
.check{
  position: absolute;
  top: 5px;
  height: 20px;
  width: 20px;
}
/*          Main          */
/*          Pantallas mayores a 500px          */
@media (min-width:500px){

}
/*          Pantallas mayores a 750px          */
@media (min-width:750px){
  section:first-of-type{
    padding-top: 1%;
  }
  article{
    height: 61vh;
    overflow: visible;
  }
  ul{
    margin-top: 1%;
  }
}
/*          Pantallas mayores a 1000px          */
@media (min-width:1000px){

}